{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="title_connect">
                <h1>Bienvenue {{ app.user.email }}</h1>
            </div>
            <div class="container">
                <div>
                    <h2>Statistique et Questions répondues</h2>
                </div>
                <div class="row">
                    <div class="progress col-md-10">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;"></div>
                    </div>
                    <div class="col-md-2">
                        <p>{{ progress|number_format }} %</p>
                    </div>
                    </div>
                </div>
                {% for info in infos %}
                    <div class="container">
                        <div class="card text-white bg-secondary mb-3">
                            <div class="card-body">
                                <h3>{{ info.question.name }}</h3>
                                <div class="row">
                                    <div class="col-md-8">
                                        <p> {{ info.question.answer }} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p> quizz : {{ info.question.category.name }} </p>
                                    </div>
                                 </div>
                            </div>
                         </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
