{% extends 'base.html.twig' %}

{% block title %}{{ question }}{% endblock %}

{% block body %}
    <div class="container">
    <div class="card">
        <div class="card-body">
            <h1>{{ question }}</h1>
            {{ form_start(form) }}
            {{ form_widget(form.response, { 'attr': {'class': 'response'}}) }}
            <div class="row">
            <div class="col-md-9">
            <a href="{{ path('show_quizz', {'name': redirect }) }}" class="btn btn-primary mb-2">Revenir au choix des questions </a>
            </div>
            <div class="col-md-3">
            <h2>{{ message }}</h2>
            <button type="submit" class="btn btn-success mb-2">confirmer votre réponse</button>
            </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div>
{% endblock %}